/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-weight: 700;
    color: #01110A;
}

/* Table */
.table {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #01110A;
}

.table-hover tbody tr:hover {
    background: #F1F1F1;
}

/* Buttons */
.btn {
    border-radius: 5px;
    font-weight: 600;
    height: 38px;
    text-align: center;
}

/* Primary Button */
.btn-primary {
    background-color: #003E1F;
    border-color: #003E1F;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #004E29;
    border-color: #004E29;
}

/* Secondary Button */
.btn-secondary {
    background-color: #73BA9B;
    border-color: #73BA9B;
    color: #01110A;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #87C5AA;
    border-color: #87C5AA;
}

/* Align Buttons */
.btn-group {
    display: flex; /* Align buttons horizontally */
    justify-content: center; /* Spread buttons evenly across */
    gap: 10px; /* Add space between buttons */
}

.btn-group > .btn {
    flex-basis: 1;
    max-width: none;
    text-align: center;
}

/* Settings Button */
.btn-settings {
    background-color: #D3D3D3; /* Light grey */
    color: #01110A; /* Dark text */
    font-weight: 600;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 40px; /* Uniform height */
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

.btn-settings:hover {
    background-color: #C0C0C0;
}

.btn-settings:focus, .btn-settings:active {
    background-color: #C0C0C0;
    box-shadow: none;
}

/* Show Button */
.btn-show {
    background-color: #A2D7B9;
    border-color: #A2D7B9;
    color: #01110A;
}

.btn-show:hover, .btn-show:focus, .btn-show:active {
    background-color: #87C5AA;
}

/* Back to Main Page */
.btn-back {
    background-color: #A2D7B9;
    border-color: #A2D7B9;
    color: #01110A;
    padding: 8px 20px;
}

.btn-back:hover, .btn-back:focus, .btn-back:active {
    background-color: #87C5AA;
}

/* Alerts */
.alert-danger {
    background-color: #BA2D0B;
    color: #FFFFFF;
}

.alert-success {
    background-color: #73BA9B;
    color: #FFFFFF;
}
