/* Font and Base Colors */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-weight: 700;
    color: #01110a;
}

/* Table Styles */
.table {
    background: #ffffff; /* White background for the table */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #01110a; /* Dark text */
}

.table-hover tbody tr:hover {
    background: #f1f1f1;
}

/* Buttons */
.btn {
    border-radius: 5px;
    font-weight: 600;
    height: 38px; /* Uniform height for all buttons */
    text-align: center;
}

/* Primary Button (Create Snapshot) */
.btn-primary {
    background-color: #003E1F; /* Dark green */
    border-color: #003E1F;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #004E29; /* Slightly lighter green */
    border-color: #004E29;
}

.btn-primary:focus, .btn-primary:active {
    background-color: #004E29;
    border-color: #004E29;
    box-shadow: none; /* Remove focus outline */
}

/* Secondary Button (Clean Old Snapshots and Restore) */
.btn-secondary {
    background-color: #73BA9B; /* Light green */
    border-color: #73BA9B;
    color: #01110A; /* Dark text */
}

.btn-secondary:hover {
    background-color: #87C5AA; /* Slightly lighter green */
    border-color: #87C5AA;
}

.btn-secondary:focus, .btn-secondary:active {
    background-color: #87C5AA;
    border-color: #87C5AA;
    box-shadow: none;
}

/* Back Button */
.btn-back {
    background-color: #A2D7B9;
    border-color: #A2D7B9;
    color: #01110A; /* Dark text */
    font-weight: 600;
    padding: 10px 20px;
    text-align: center;
}

.btn-back:hover {
    background-color: #87C5AA; /* Slightly darker green */
    border-color: #87C5AA;
    color: #01110A;
}

.btn-back:focus, .btn-back:active {
    background-color: #87C5AA;
    border-color: #87C5AA;
    box-shadow: none;
}

/* Alerts */
.alert-danger {
    background-color: #BA2D0B;
    color: #ffffff;
    border-color: #BA2D0B;
}

.alert-success {
    background-color: #73BA9B;
    color: #ffffff;
    border-color: #73BA9B;
}

